name: Testing

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - "**"

jobs:
  lint:
    runs-on: ubuntu-latest
    name: linting
    steps:
      - uses: actions/checkout@v2
      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: 20
      - name: Yarn install
        run: yarn
      - name: ESLint
        run: yarn run lint

  test:
    runs-on: ubuntu-latest
    name: test
    steps:
      - uses: actions/checkout@v2
      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: 20
      - name: Yarn install
        run: yarn
      - name: Yarn install (functions)
        working-directory: functions
        run: yarn
      - name: Install Firebase CLI
        run: npm i -g firebase-tools
      - name: Run tests
        run: yarn run test:ci
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
